# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skrot och korn AB</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1 style="font-size:10vw">Skrot & Korn AB</h1>
        <img src="/Users/williamlarsson/Desktop/skrot.jpeg" width="450" height="300">
    </header>
    <header>
        <nav>
            <ul>
                <li><a href="startsida.index.html">Startsida</a></li>
                <li><a href="produktsida.index.html">Produkter</a></li>
                <li><a href="kontakt.index.html">Kontakta oss</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Vi erbjuder...</h2>
        <p>Skrot och Korn AB erbjuder högkvalitativa bygg- och anläggningsmaskiner,<br> inklusive grävskopor, lyftkranar och lastbilar. Vi levererar pålitlig utrustning<br> för dina projektbehov till konkurrenskraftiga priser. Kontakta oss för<br> expertrådgivning och pålitlig kundservice.</p>
    </main>
    <aside>
        <h2>Om oss...</h2>
        <p>Skrot och Korn AB är en pålitlig och etablerad aktör inom bygg- och<br> anläggningsbranschen. Med många års erfarenhet och en passion för kvalitet<br> har vi byggt upp ett starkt rykte för att leverera pålitliga maskiner och<br> utrustning. Vårt dedikerade team av branschexperter arbetar tillsammans<br> med våra kunder för att hitta de bästa lösningarna för deras projekt. Vi är<br> stolta över vårt engagemang för att stödja våra kunders framgång och<br> säkerställa en smidig verksamhet.</p>
    </aside>
    <script src="script.js"></script>
</body>
</html>